body {
    font-family: Arial, Helvetica, sans-serif;
}

#categories {
    width: 200px;
}
.category {
    display: flex;
    justify-content: flex;
    column-gap: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px;
    align-items: center;
}
.category:hover {
    background-color: rgba(0,0,0,0.2);
    border-radius: 15px;
}
.category div {
    background-color: rgb(247,240,250);
    border-radius: 50%;
    padding: 5px;
}
.category img {
    width: 60px;
    position:relative;
    top: 5px;
    
}
.category h3 {
    font-size: 16px;
}
.selected-category {
    background-color: rgba(0,0,0,0.2);
    border-radius: 15px;
}